# Secrets
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

node_modules
dist
*.local
*.tsbuildinfo

# Netlify
.netlify

# Assets sources internes (non nécessaires au site, non publiés)
.input/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
